fastapi~=0.115.5
uvicorn
python-dotenv~=1.0.1
sqlalchemy~=2.0.36
alembic~=1.14.0
mysql-connector-python
passlib[bcrypt]~=1.7.4
bcrypt
pyjwt~=2.10.0
httpx
pytest
faker~=33.0.0
black
flake8
isort
starlette~=0.41.3
pydantic~=2.10.2
pydantic-settings~=2.6.1